# Dependencies
node_modules/

# Build outputs
dist/
coverage/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS / Editor
.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json

# Env files
.env*

# Husky cache
.husky/_
.github/prompts/ros.prompt.md
